<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload the file : GFG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form class="container" method = "post" enctype="multipart/form-data"> 
        <h1>Agile Team Two's Hextool</h1>
        <p>Upload a binary file to hash!</p>
        <input type="file" name="file" /> 
        <input type = "submit" value="Upload"> 
        <label for="hashing-options">Choose the hashing option:</label>
        <select id="hashing-options" name="hashing-options">
            <option value="division-method-hasher">Division Method</option>
        </select>
    </form> 
    {% if hash %}
        <p>
            {% print(hash) %}
        </p>
    {% endif %}
</body>
</html>

