{% extends "base.html" %}

{% block body %}
<body>
    <form class="container" method = "post" action="{{ url_for('home') }}" enctype="multipart/form-data"> 
        <h1>Agile Team Two's Hextool</h1>
        <p>Upload a binary file to hash!</p>
        <input class="form-control form-control-lg" type="file" name="file">
        <label for="hashing-options" style="margin: 20px">Choose the hashing option:</label>
        <select class="form-select" aria-label="Default select example " id="hashing-options" name="hashing-options">
            <!-- <option selected>Hashing Options</option> TODO: Can refine alert to no hashing method selected -->
            <option value="division-method-hasher">Division Method</option>
            <option value="multiplication-method-hasher">Multiplication Method</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Upload" style="margin-bottom: 20px; margin-top: 20px;"></input>
        {% for category, message in get_flashed_messages(with_categories=True) %}
          {% if category == "failed"%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
            </div>
          {% endif %}
          {% if category == "success"%}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          </div>
          {% endif %}
        {% endfor %}
        {% if hash %}
            <p>
              Hash: {% print(hash) %}
            </p>
            <input type = "submit" name='Clear' value="Clear Hash"> 
        {% endif %}
    </form> 
</body>
{% endblock %}